# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_HOSTNAME=
KEYCLOAK_REALM=
KEYCLOAK_AUTHORITY=https://${KEYCLOAK_HOSTNAME}/realms/${KEYCLOAK_REALM}
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_HTTPS_PORT=8443

# Security API
SECURITY_API_HTTP_PORT=6080
SECURITY_API_HTTPS_PORT=6443
SECURITY_API_CONNECTION_STRING=Host=postgres;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# Registry (prod only)
REGISTRY=
TAG=